/* General Card Styles */
.card {
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.05);
  position: relative;
  overflow: hidden;
  border-radius: 1rem; /* Ajusta el borde redondeado */
  border: 2px solid transparent;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #9ca3af;
}

/* Selected State for Cards */
.card-selected {
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid #fff; /* Borde sólido para el estado seleccionado */
  border-radius: 1rem; /* Mantener el borde redondeado */
}

/* Chip Positioning */
.chip {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #374151;
  color: #d1d5db;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 500;
}

/* Stat Styles */
.stat {
  transition: background-color 0.3s ease-in-out;
}

.stat:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}

.hidden {
  display: none;
}

.option-support-text {
  display: block;
  font-size: 0.875rem;
  color: #9ca3af;
}
